<h1 class="nav" style="background-color:blueviolet; color:antiquewhite">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="assets/download.jpg" style="width:100%">
  <div style="position:absolute;top:70%;left:40%;transform:translate(-50%,-50%);">
    <h3>The Highest Quality Healthcare. The Hospital of the Future<br/>The Power to Heal</h3>
  </div>
<div style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
